[defaults]
# This is the default inventory file
inventory = Inventory/aws_ec2.yml 

# This is the default user to connect to the remote host
remote_user = ubuntu 

# This is used to disable the host key checking
host_key_checking = False 

# This is used to set the number of forks
forks = 20

# This is the location of the key file
private_key_file = /home/moiz/Downloads/Windows1.pem 

# This is used to find the python interpreter on the remote host
interpreter_python = auto_silent 

[ssh_connection]
# This is used to speed up the connection
pipelining = True   